extends layout

block content

  - let sugars = results
  h1= title
  - let create = `dispatch(\"/sugar/create\")`
  button.btn( class="btn-info", onclick= create) Add new sugar
  div(class="container-fluid")
  div(class="row m-1")
    each sugar in sugars
      - let destination = `dispatch(\"/sugar/update?id=${sugar._id}\")`
      - let detail = `dispatch(\"/sugar/detail/?id=${sugar._id}")`
      - let deletesugar = `dispatch(\"/sugar/delete/?id=${sugar._id}")`      
      div(class="row-sm-2", class="m-1") sugar #{sugar.sugar_Name} (#{sugar.sugar_form}) is #{sugar.Cost}
        button.btn( class="btn-primary ml-1", onclick= destination) Update
        button.btn( class="btn-success", onclick= detail) Details
        button.btn( class="btn-dark", onclick= deletesugar) Delete

  script.
    function dispatch(path){
      window.location.href=path
    }