extends layout
block content
 h1= title

  - let sugarid = toShow._id
  - let sugar_Name = toShow.sugar_Name
  - let Cost = toShow.Cost
  - let sugar_Form = toShow.sugar_Form
  - let actionid = "/resource/sugar/" + sugarid
  script let actionid = "#{actionid}"
  div
   div.row
    div(class='sugarAttr mr-3') sugar ID is:
    div #{sugarid}
   div.row
    div(class='sugarAttr mr-3') sugar Name is:
    div #{sugar_Name}
   div.row
    div(class='sugarAttr mr-3') Cost is:
    div #{Cost}
   div.row
    div(class='sugarAttr mr-3') sugar Form is:
    div #{sugar_Form}
  button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
  button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
 script.
  function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/sugar'
        }
    script.
        function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
        method: 'DELETE' 
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Delete succeded")
        window.location.href='/sugar'
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
        });
     }